# requirements.txt

# Core Streamlit & Data
streamlit
pandas
numpy
plotly

# Mapping
geopandas
folium
streamlit-folium

# UI Components
streamlit-option-menu

# LangChain with Google Gemini
langchain-community
langchain-core
langchain-google-genai

# Database
SQLAlchemy
mysql-connector-python

# Environment Variables
python-dotenv

openpyxl==3.1.2
